In [2]:
import numpy as np
import pandas as pd
import datetime
import urllib.request
import netCDF4
from netCDF4 import Dataset
import xarray as xr
import matplotlib.pyplot as plt

In [18]:
wind2009 = pd.read_csv('./wind2009.txt', delim_whitespace=True, parse_dates=[[0, 1, 2, 3, 4]], header=[0,1]) #,parse_dates=['date'], index_col='date'
# njdep = njdep.drop('id', axis=1)
# njdep = njdep.drop('time', axis=1)
wind2009

,"('#YY', '#yr')_('MM', 'mo')_('DD', 'dy')_('hh', 'hr')_('mm', 'mn')","(WDIR, degT)","(WSPD, m/s)","(GDR, degT)","(GST, m/s)","(GTIME, hhmm)"
0,2008 12 31 23 00,315,15.7,999,99.0,9999
1,2008 12 31 23 10,307,16.8,999,99.0,9999
2,2008 12 31 23 20,310,16.7,999,99.0,9999
3,2008 12 31 23 30,316,15.7,999,99.0,9999
4,2008 12 31 23 40,309,15.4,999,99.0,9999
...,...,...,...,...,...,...
51829,2009 12 31 22 10,6,2.4,999,99.0,9999
51830,2009 12 31 22 20,6,2.8,999,99.0,9999
51831,2009 12 31 22 30,23,2.8,999,99.0,9999
51832,2009 12 31 22 40,33,3.0,999,99.0,9999
51833,2009 12 31 22 50,48,3.1,47,4.0,2244

In [30]:
type(wind2009.iloc[0][0])

str

In [33]:
wind2009.rename(columns={"('#YY', '#yr')_('MM', 'mo')_('DD', 'dy')_('hh', 'hr')_('mm', 'mn')": "Time"})

,Time,"(WDIR, degT)","(WSPD, m/s)","(GDR, degT)","(GST, m/s)","(GTIME, hhmm)"
0,2008 12 31 23 00,315,15.7,999,99.0,9999
1,2008 12 31 23 10,307,16.8,999,99.0,9999
2,2008 12 31 23 20,310,16.7,999,99.0,9999
3,2008 12 31 23 30,316,15.7,999,99.0,9999
4,2008 12 31 23 40,309,15.4,999,99.0,9999
...,...,...,...,...,...,...
51829,2009 12 31 22 10,6,2.4,999,99.0,9999
51830,2009 12 31 22 20,6,2.8,999,99.0,9999
51831,2009 12 31 22 30,23,2.8,999,99.0,9999
51832,2009 12 31 22 40,33,3.0,999,99.0,9999
51833,2009 12 31 22 50,48,3.1,47,4.0,2244

In [35]:
wind2009['Time']= pd.to_datetime(wind2009['Time'], format='%Y %m %d %H %M')

KeyError: 'Time'